@charset "UTF-8";
/* 공통 */
.a11y-hidden{
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    width: 1px;
    height: 1px;
}
iframe.charge-log{
    position: absolute;
    width: 0;
    height: 0;
    border: 0;
    outline: none;
    visibility: hidden;
}

.bg-gray{background-color:#1b1b1b;}
.bg-light-gray{background-color: #252525;}
.bg-dark{background-color: #252525;}
.others-js .method-others-toggle,
.quick-js .method-quick-toggle{
  display: block;
}
.quick-js .method-others-toggle,
.others-js .method-quick-toggle{
  display: none;
}
.payment-table-wrap.bg-dark{border: 1px #252525 solid;}
.blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;}
.bull{display:inline-block; width:2px; height:2px; background-color:#a5a5a5; vertical-align:middle; margin:0 3px;}

.bb-none{border-bottom:none !important;}
.br-none{border-right:none !important;}

.vat{vertical-align:top !important;}
.vab{vertical-align:bottom !important;}

.pt10{padding-top:10px;}
.pt30{padding-top:30px;}
.pb60{padding-bottom:60px;}
.pb82{padding-bottom:82px;}
.pb25{padding-bottom:25px;}
.pb10{padding-bottom:10px!important;}
.mb5{margin-bottom:5px;}

.tal{text-align:left!important;}
.tar{text-align:right !important;}
.tac{text-align:center !important;}

.ftl{float:left;}
.ftr{float:right;}


.dot-text{margin-bottom:4px;}
.dot-text > span:before{content:""; display:inline-block; position: absolute; top: 7px; left: 0; width:1px; height:1px; border: 1px #5e5e5e solid; border-radius: 50%; background-color:#5e5e5e;}
.dot-text > span{display:inline-block; position: relative; width:calc(100% - 10px); padding-left: 7px; font-size:12px; line-height: 18px; color:#5e5e5e;}
.dot-text:last-child{margin-bottom:0;}


.dot-text01:before{content:""; display:inline-block; width:1px; height:1px; border: 1px #5e5e5e solid; background-color:#5e5e5e; border-radius:100px;  margin-right:7px; vertical-align:top; margin-top:13px;}
.dot-text01 > span{display:inline-block; width:calc(100% - 10px);  font-size:11px;  line-height:1.45; color:#5e5e5e;}

/*.col-purple {color:#1351f9;}*/


/*체크박스 스타일 -공통 */
.check-style input[type="checkbox"]{position:absolute; clip:rect(0,0,0,0);}
.check-style input[type="checkbox"] + label {position:relative; font-size:12px; line-height: 18px; color: #a5a5a5; vertical-align: middle;}
.check-style input[type="checkbox"] + label:before {content:' '; display:inline-block; width:20px; height:20px; margin-right:8px;}

/*보라색 체크박스*/
.check-style input[type="checkbox"].check-purple + label:before{background: #fff; border: 1px solid #a5a5a5;	vertical-align:middle;}
/*.check-style input[type="checkbox"].check-purple:focus + label:before{border:1px solid #0fe85c;}*/
.check-style input[type="checkbox"].check-purple:checked + label:before{background:url(../images/common/check-on.png) no-repeat center; background-size:22px; border-color: #1351f9;}


/*라디오 버튼*/
.radio-style > span{margin-right:15px;}
.radio-style input[type="radio"]{position:absolute;	clip:rect(0,0,0,0);}
.radio-style input[type="radio"] + label {position:relative; font-size:14px;}
.radio-style input[type="radio"] + label:before {content:' '; display:inline-block; width:22px;	height:22px; margin-right:7px; border-radius:50%; background:url(../images/common/radio-off.png)  no-repeat center; background-size:22px;}

/*보라색 라디오 박스*/
.radio-style input[type="radio"].radio-purple + label:before{vertical-align:middle;}
.radio-style input[type="radio"].radio-purple:checked + label:before{background:url(../images/common/radio-on.png) no-repeat center; background-size:22px;}



/* 버튼 */
.btn-wrap ul:after{content:""; display:block; clear:both;}
.btn-wrap li{float:left;}
.one-btn li{width:100%; padding:0 20px;}
.two-btn li{width:50%;}
.btn-wrap a , .btn-wrap button{display:block; width:100%; height:50px; line-height:50px; font-size:16px; letter-spacing:-0.3px; text-align:center; color:#fff;}
.btn-round-purple{border-radius:100px; background-color:#1351f9;}
.btn-round-blank{border-radius:100px; border:1px solid #1351f9; color:#1351f9 !important;}
.btn-black{background-color:#5e5e5e;}
.btn-purple{background-color:#1351f9;}
.btn-disable{background-color:#CDCDCD !important; color:#777 !important;}
.pos-bt{position:fixed; width:100%; bottom:0; left:0;z-index: 1}

.two-btn li a.btn-round-blank{width:calc(100% - 10px); margin-right:5px;}
.two-btn li a.btn-round-purple{width:calc(100% - 10px); margin-left:5px;}

/* header */
.component-header{text-align:center; height:56px; padding: 16px 0; position:relative; background-color:#1b1b1b;}
.component-header h1{font-size:16px; line-height: 24px; color:#fff;}
.component-header .component-back,
.component-header .component-close{
    position: absolute;
    width: 34px;
    height: 34px;
    top: 11px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.component-header .component-back{
    left: 11px;
}

.component-header .component-close{
    right: 11px;
}

.component-header img{display: block;width: 100%}

.nav-depth01{text-align:center; background-color:#1b1b1b;}
.nav-depth01 a{display:inline-block; padding: 12px 8px 4px; font-size:14px; color:#a5a5a5;}
.nav-depth01 a.depth01-on{color:#fff; border-bottom:4px solid #1351f9; }
.nav-fixed02 .swiper-slide{width:50%; }
.nav-fixed03 .swiper-slide{width:33.3333%;}
.nav-scroll{padding-left:25px; padding-right:25px;}
.nav-scroll .swiper-slide{width:auto !important;}

/* 상단 이벤트 */
.ticket-event{background-color:#fff; margin-bottom:15px;}
.ticket-event-img img{width:100%;}
.ticket-event-desc{padding:0 10px;}
.ticket-event-text{display:none; padding:10px;}
.ticket-event-btn{display:none;}
.ticket-event label{display:block; width:100%; font-size:12px; letter-spacing:-0.2px; text-align:center; color:#23212a; height:40px; line-height:40px;}
.event-open-arrow{display:inline-block; width:16px; height:16px; vertical-align:middle; margin-left:5px; background-image:url(../images/common/arrow-ticket.png); background-repeat:no-repeat; background-size:32px; background-position:left center;}
.ticket-event-btn:focus ~ label{border:1px solid #1351f9;}
.ticket-event-btn:checked ~ label{border-bottom:1px solid #e5e5e5;}
.ticket-event-btn:checked ~ label .event-open-arrow{background-position:right center;}
.ticket-event-btn:checked ~ .ticket-event-text{display:block; }

/* 이용권 리스트 */
.ticket-wrap{padding: 10px 16px 40px;}
.payment-final-text + .ticket-wrap{padding-top: 0;}
.ticket-layout{width:100%; border-radius:4px; margin-bottom:5px;}
.ticket-layout:last-child{margin-bottom:0;}
.ticket-layout th{width:calc(100px - 120px); text-align:left; padding:15px 0 15px 15px; font-weight:400;}
.ticket-layout td{width:150px; padding:15px 15px 15px 0; text-align:right;}

.ticket-checkbox-layout{width:100%; background-color:#fff; border-radius:4px; margin-top:5px;}
.ticket-checkbox-layout tr{border-bottom:1px solid #e5e5e5;}
.ticket-checkbox-layout th{text-align:left; font-size:13px; color:#23212a; font-weight:400; padding-left:15px;}
.ticket-checkbox-layout td{height:60px;}
.ticket-checkbox-layout label{font-size:14px !important; color:#777 !important;}

.ticket-list-wrap{width:100%; background-color:#fff; border-radius:4px; margin-bottom:5px;}
.ticket-list-btn{text-align:left; padding:20px 15% 20px 15px; width:100%;}
button.ticket-list-btn{ background:url(../images/common/arrow-list-open.png) no-repeat 95% center; background-size:30px;}
.ticket-list-btn-tit{font-weight: 700;  font-size:15px;  letter-spacing:-0.3px; color:#23212a;}
.ticket-list-btn-text{font-size:12px; line-height:1.25em; color:#777; margin-top:5px;}

.ticket-list-layout{width:calc(100% - 20px); margin:0 auto 5px; display:none;}
.ticket-list-layout tr{border-bottom:1px solid #e5e5e5;}
.ticket-list-layout tr:last-child{border-bottom:none;}
.ticket-list-layout th{width:calc(100px - 120px); text-align:left; padding:15px 0; font-weight:400;}
.ticket-list-layout td{width:150px; padding:15px 0; text-align:right;}

.ticket-payment-layout{width:100%; border: 1px #2f2f2f solid; border-radius:4px; margin-bottom:5px;}
.ticket-payment-layout tr{border-bottom:1px solid #e5e5e5;}
.ticket-payment-layout tr:last-child{border-bottom:none;}
.ticket-payment-layout .ticket-list-btn{border-bottom:1px solid #e5e5e5;}

/* 이용권 열림 */
.ticket-list-open button.ticket-list-btn{border-bottom:1px solid #e5e5e5; background:url(../images/common/arrow-list-close.png) no-repeat 95% center; background-size:30px;}
.ticket-list-open .ticket-list-layout{display:table;}

/*이용권 텍스트 스타일*/
/*.m-ticket-title{font-size:14px; color:#a5a5a5; position:relative;}*/
.m-ticket-title{margin-bottom: 10px; font-size: 14px; line-height: 20px; color: #a5a5a5;
    font-weight: 400;}
.payment-table-wrap .m-ticket-title{margin-bottom: 0;}
.m-ticket-title > a{position:absolute; right:0; font-size:12px; color:#23212a;}
.m-ticket-title img{width:12px; margin-top:-3px;}
.m-ticket-sub-title{font-size:12px;  line-height:1.25em; color:#777; margin-bottom:10px;}
.ticket-title{margin-bottom:4px; font-size:16px; line-height: 24px; color: #fff}
.ticket-title02{font-size:12px; line-height: 18px; color: #a5a5a5;}
.ticket-title02 span{display: block;}
.ticket-title03{font-size:12px; color:#777; line-height:1.33;}
.ticket-title03 > em {width:2px; height:2px; background:#888; border-radius:50%; display:inline-block; margin:0 2px; vertical-align:middle;}
.ticket-sub-title{font-size:12px; line-height: 16px; text-align:left; color:#a5a5a5;}
.ticket-price{font-weight: 700; font-size:15px; letter-spacing:-0.3px;}
.ticket-sale{display:inline-block; font-size:13px; text-decoration:line-through; opacity:0.5; margin-right:5px; margin-top:6px;}
.ticket-day{font-size:12px; color:#777; letter-spacing: -0.3px;}
.ticket-buy-btn{display:inline-block; width:72px; height:30px; line-height:30px; border-radius:100px; text-align:center; font-size:13px; color:#fff;}
.ticket-layout th .ticket-buy-btn{margin-top:17px;}
.ticket-package{
    display: block;
    border: 1px solid #252525;
    background-color: #252525;
}
.number-people{font-size: 0;}
.number-people img{width:32px;}
.number-people-text01{
    display: inline-block;
    margin: 0 20px;
    font-size:13px;
    text-align:center;
    color:#a5a5a5;
    vertical-align: middle;
}
.number-people-text02{font-size:11px; text-align:center; color:#777; margin-top:7px; padding-left:20px;}

/* 이용권 색깔 */
/* 보라색 */
.ticket-purple .ticket-price{color:#1351f9;}
.ticket-purple .ticket-buy-btn{background-color:#1351f9;}
.ticket-purple.ticket-list-open .ticket-list-btn-tit{color:#1351f9;}
.ticket-payment-layout.ticket-purple .ticket-list-btn-tit{color:#1351f9;}

/* 하늘색 */
.ticket-skyblue .ticket-price{color:#1da8ee;}
.ticket-skyblue .ticket-buy-btn{background-color:#1da8ee;}
.ticket-skyblue.ticket-list-open .ticket-list-btn-tit{color:#1da8ee;}
.ticket-payment-layout.ticket-skyblue .ticket-list-btn-tit{color:#1da8ee;}

/* 빨간색 */
.ticket-red .ticket-price{color:#ff3c33;}
.ticket-red .ticket-buy-btn{background-color:#ff3c33;}
.ticket-red.ticket-list-open .ticket-list-btn-tit{color:#ff3c33;}
.ticket-payment-layout.ticket-red .ticket-list-btn-tit{color:#ff3c33;}

/* 주의사항 */
.ticket-noti-wrap{
    margin-bottom: 16px;
}

/* 주의사항 테이블 스타일 */
.ticket-noti-table{width:100%; margin-top:10px; background-color:#fff; border-radius:4px;}
.ticket-noti-table tr{border-bottom:1px solid #e5e5e5;}
.ticket-noti-table th{font-weight:400; font-size:12px; text-align:center;  color:#23212a; border-right:1px solid #e5e5e5; height:66px;}
.ticket-noti-table td > span{font-size:11px;  color:#0060fe; display:block; margin-top:4px;}
.ticket-noti-table td{text-align:center; border-right:1px solid #e5e5e5; height:50.5px;}
.ticket-noti-table img{width:12px;}
.ticket-noti-table th:last-child , .ticket-noti-table td:last-child{border-right:none;}
.ticket-noti-table-noti{background-color:#fff; padding:10px 17px 20px; border-radius:0px 0px 4px 4px;}


/* 제휴사 이미지 */
.img-partner img {width:100%;}

/**/
.ticket-sort-empty{text-align:center; margin-bottom:25px;}
.ticket-sort-empty > img{width:50px;}
.ticket-sort-empty-text{font-size:14px;  color:#1351f9; margin-top:16px;}


/* 결제하기 */
.payment-wrap{
    border-radius:4px;
}
.payment-wrap + .payment-wrap{
    margin-top: 30px;
}
.payment-wrap h2{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    font-weight: 400;
}
.payment-table-wrap{
    border: 1px #2f2f2f solid;
    border-radius: 4px;
}
.payment-table{
    width: 100%;
}
.payment-table tr{border-bottom:1px solid #2f2f2f;}
.payment-table tr:last-child{border-bottom:none;}
.payment-table th,
.payment-table td{
    height: 54px;
    color: #a5a5a5;
    font-size: 14px;
    line-height: 20px;
}
.payment-table th{
    width: 120px;
    padding: 16px 16px;    
    text-align: left; 
    font-weight: 400;
}
.payment-table td{
    height: 54px;
    padding: 16px 16px 16px 4px;    
}
.payment-table.table-border tr{border-bottom:none;}
.payment-table.table-border tr:first-child{border-bottom: 1px #2f2f2f solid;}
.payment-table.table-border th{vertical-align:top;}
.payment-table.table-border th.coupon-hd{vertical-align:middle;}

.payment-table .ticket-title{margin-bottom:4px;}
.payment-table .em-text{display:block; font-size:13px;  letter-spacing:-0.2px; color:#a5a5a5;text-align: right;}
.payment-table .ticket-price{font-size: 18px; color: #fff;}
.payment-table .ticket-price-big{
  font-size:16px;
  line-height: 24px;
  color:#fff;
}
.bonuscoin-iap{
  display: block;
  font-size: 12px;
  line-height: 18px;
  color: #717171;
}
.payment-total-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 18px 16px;
  border-radius: 4px;
  background-color: #252525;
}
.payment-total-text{
  font-size: 14px;
  line-height: 20px;
  color: #a5a5a5;
}
.payment-total-price{
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.payment-event{
    margin: 5px 0 30px;
}
.payment-event img{width:100%;}
.payment-event .banner-event{display: block; width: 100%; height: 40px; background-color: #1b1b1b; outline: none; font-size: 14px; line-height: 40px; color: #a5a5a5; text-align: center;}
.banner-event:after, 
.event-open:after{content: ""; display: inline-block; width: 12px; height: 12px; margin-left: 4px; vertical-align: middle;}
.banner-event:after{background: url(../images/ticket/icon-open.png) no-repeat #1b1b1b; background-size: 12px 12px;}
.event-open:after{background: url(../images/ticket/icon-close.png) no-repeat #1b1b1b; background-size: 12px 12px;}
.event-exclamation{padding: 10px 0; background-color: #1b1b1b; font-size: 12px; line-height: 18px; color: #5e5e5e;}
.banner-event + .event-exclamation{display: none;}
.event-open + .event-exclamation{display: block;}
.event-exclamation li{position: relative; margin-bottom: 4px; padding-left: 7px;}
.event-exclamation li:before{content: ""; position: absolute; top: 7px; width: 1px; height: 1px; margin-left: -4px; background-color: #5e5e5e; border-radius: 50%;}

.payment-table .radio-style input[type="radio"] + label{font-size:13px; color:#a5a5a5;}
.payment-table .radio-style input[type="radio"] + label:before{margin-right:14px !important;}
.google-iap-wrap .payment-table .radio-style input[type="radio"] + label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.google-iap-wrap .google-coin-item{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.google-iap-wrap .payment-table .radio-style input[type="radio"] + label{
  display: flex;
  flex-direction: row;
}
.google-iap-wrap .google-coin-price{
  color: #fff;
}

.payment-check .check-style{margin: 18px 0;}
.payment-check .check-style.sub-check{margin-left: 30px;}
.payment-check .check-style input[type="checkbox"].check-purple + label:before{background-color:transparent;}
.payment-check label > span{display:inline-block; width:calc(100% - 40px); vertical-align:middle;}

.payment-noti-wrap{padding: 0 16px;}
.payment-noti-wrap:after{
    display: block;
    clear: both;
    content: '';
}

.ticket-noti-box{
    position: relative;
}
.noti-more-btn{
    position: absolute;
    z-index: 9;
    right: 10px;
    width: 18px;
    height: 18px;
    opacity: 0;
    outline: 0;
    -webkit-appearance: none;
}

.noti-more-btn ~ label{
    float:right; 
    padding-right: 22px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
    color:#a5a5a5;
    background-image:url(../images/common/arrow-open.png); 
    background-repeat:no-repeat; 
    background-position: right 4px center; 
    background-size:12px;
}
.noti-more-btn ~ label:before{content:"자세히보기"; }
.ticket-noti-more{display:none; margin-top:20px;}
.noti-more-btn:checked ~ .ticket-noti-more{display:block;}
.noti-more-btn:checked ~ label{background-image:url(../images/common/arrow-close.png); background-size: 12px;}
.noti-more-btn:checked ~ label:before{content:"닫기"; }
form[action="/ProductCoin"]{
    visibility: hidden
}

/* google IAP */
.google-iap-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px;
    font-size: 14px;
    line-height: 20px;
    color: #a5a5a5;
    border: 1px solid #2f2f2f;
    border-radius: 2px;
}
.google-iap-hd{
    width: 25%;
    min-width: 112px;
    color: #fff;
}
.google-iap-coin{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.google-iap-mycoin{
    margin-top: 4px;
}
.google-iap-link{
    padding: 6px 12px;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    background-color: #1351f9;
    border-radius: 20px;
}

/* payco 최종 */
.payment-total{ border-radius:4px; padding:18px 15px; background-color: #252525;}
.payment-wrap + .payment-total{margin-top: 30px;}
.payment-total > p{font-size: 0;}
.payment-total > p:after{content:""; display:block; clear:both;}
.payment-total > p + p{margin-top: 16px;}
.payment-total span{font-size: 13px; line-height: 18px; color: #a5a5a5;}
.payment-total .sale-price{float:right; font-size:13px; color:#a5a5a5;}
.payment-total .total-price{float:right; font-weight: 700; font-size:16px; color:#fff;}


/* 단건 구매 */
.ticket-one{width:100%; border-radius:4px; padding: 16px; border: 1px #252525 solid; background-color: #252525;}
.ticket-one-tit{font-size: 16px; line-height: 24px; color: #a5a5a5;}
.ticket-one-text{margin-top: 6px; font-size:14px; line-height: 20px; color:#777;}
.ticket-one-price{font-size:16px; line-height: 24px; color:#fff; display:inline-block; vertical-align: middle;}
.ticket-one-bt{margin: 16px -16px 0; padding: 16px 16px 0; border-top: 1px #2f2f2f solid; font-size: 0; text-align: right;}
.ticket-one-bt:after{content:""; display:block; clear:both;}
.ticket-one-bt .ticket-buy-btn{height: 24px; background-color:#1351f9; line-height: 22px; vertical-align: middle;}
.ticket-one-bt .ticket-one-price + .ticket-buy-btn{margin-left: 12px;}

/* 결제수단 변경 */
.defend-wrap {width:100%; background:#252525; position:relative;}
.defend-wrap h1 {font-size: 20px; line-height: 29px; color: #fff;}
.defend-wrap .defend-close {position:absolute; top:8px; right:8px;}
.defend-wrap .defend-close > img {width: 24px;height: 24px;}
.defend-wrap .defend-contents {padding:30px 20px 20px; overflow:hidden;}
.defend-wrap .defend-type01 {padding-top:40px;}
.defend-wrap .con-tit {font-size:13px; font-weight: 700; margin:0 0 10px; display:block; color:#23212a; line-height:1.5;}
.defend-wrap .con-dotted {display:block; font-size:13px; line-height:1.38; padding-left:9px; text-indent:-9px;}
.defend-wrap .con-dotted em {display:inline-block; background:#5e5e5e; width:2px; height:2px; vertical-align:middle; margin-right:4px;}
.defend-wrap .con-txt-box{padding: 20px 20px; border: 1px solid #2f2f2f;}
.defend-wrap .con-txt {display:block;color: #a5a5a5;font-size: 12px; line-height: 18px; }
.defend-wrap .con-txt01 {margin:4px 0 20px; font-size: 14px; line-height: 20px; }
.defend-wrap .con-txt02 {font-size:12px; line-height: 18px; color: #5e5e5e; margin-top: 20px}
.defend-wrap .gray-back {background:#2f2f2f; border-radius:4px; padding:1px 20px;}
.defend-wrap .two-btn {width:100%; overflow:hidden; margin: 20px 0 0;}
.defend-wrap .two-btn > div {width:-webkit-calc(50% - 5px); width:-moz-calc(50% - 5px);  width:calc(50% - 5px);}
.defend-wrap .btn-line,
.defend-wrap .btn-cancel, 
.defend-wrap .btn-purple {
    display:block; 
    width:100%;
    height:36px; 
    font-size:14px; 
    line-height:34px; 
    border-radius: 100px; 
}
.defend-wrap .btn-line {border: solid 1px #fff; color: #fff;}
.defend-wrap .btn-cancel {background:#5e5e5e; color: #fff;}
.defend-wrap .btn-purple {background:#1351f9; color: #fff;}



/* */
.table-select{
	width:100%;
	height:47px;
	line-height:47px;
	border-radius:5px;
	border:solid 1px #2f2f2f;
	padding:0 36px 0 16px;
	font-size:14px;
	color:#a5a5a5;
	background:url(../images/common/ic-input-down.png) #2f2f2f no-repeat right center;
	background-size:36px;
	-webkit-appearance:none;
	-moz-appearance: none;
	appearance: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.payment-input input[type="text"]{
	width:100%;
	height:47px;
	line-height:47px;
	border-radius:5px;
	border:solid 1px #2f2f2f;
	background-color:#2f2f2f;
	padding:0 15px;
	font-size:14px;
	color: #a5a5a5;
}

.single-hd{
    display: inline-block;
    min-width: 80px
}
.coupon-hd{

}

.payment-my-point{padding-top:15px;}
.payment-my-point:after{content:""; display:block; clear:both;}
.payment-my-point > p{float:left; margin-right: 5px; font-size:11px;  color:#777; height:30px; line-height:30px;}
@media screen and (min-width: 360px){
    .payment-my-point > p{
        font-size: 13px;
    }
}
.payment-my-point > button{
	float:right;
	display:inline-block;
	width:72px;
	height:30px;
	line-height:30px;
	border-radius:100px;
	border:solid 1px #1351f9;
  background-color: #1351f9;
	font-size:13px;
	text-align:center;
	color:#fff;
}

.total-sale{
  font-size: 14px;
  line-height: 20px;
  color: #a5a5a5;
}
.total-sale:after{content:""; display:block; clear:both;}
.total-sale > span{float:right;}
.total-sale:first-child{margin-bottom:13px;}

.total-bt{border-top:1px solid #2f2f2f;}
.payment-table.table-border .total-bt th{vertical-align: middle;}

/* 구매완료 */
.payment-final-text{padding:36px 0 40px;  text-align:center;}
.payment-final-text p{font-size:15px; letter-spacing:-0.25px; color:#fff;}
.payment-final-text span{display: block; line-height: 17px;}

/* 푹존 이용권*/
.pooqzone-top img{width:100%;}
.pooqzone-title-wrap{padding-bottom:15px;}
.pooqzone-table{width:100%; background-color:#Fff; border-radius:4px; margin-top:10px;}
.pooqzone-table tr{border-bottom:1px solid #e5e5e5;}
.pooqzone-table th{font-weight:400; text-align:center; font-size:12px; color:#23212a; border-right:1px solid #e5e5e5;  padding:17px 0;}
.pooqzone-table td{text-align:center; font-size:12px; color:#23212a;  border-right:1px solid #e5e5e5; padding:17px 0;}
.pooqzone-table thead th:last-child{border-right:none;}
.pooqzone-table td:last-child{border-right:none;}
.pooqzone-table tbody tr:last-child{border-bottom:none;}
.pooqzone-price-purple{font-size:15px; font-weight: 700;  letter-spacing:-0.3px;  color:#1351f9;}
.pooqzone-price-blue{font-size:15px; font-weight: 700;  letter-spacing:-0.3px;  color:#1da8ee;}


/*쿠폰 코인 등록*/
.ticket-coupon-wrap{background-color:#fff; border-radius:4px; padding:20px 15px; margin-bottom:5px;}
.ticket-coupon-wrap .m-ticket-title{margin-bottom:14px;}
.coupon-input input[type="text"]{
	width:100%;
	height:47px;
	line-height:47px;
	border-radius:5px;
	border:solid 1px #d9d9d9;
	background-color:#fff;
	padding:0 15px;
	font-size:14px;
	color: #23212a;
	text-align:center;
}
.coupon-btn {text-align:center; margin-top:10px; margin-bottom:20px;}
.coupon-btn button{width:97px; height:36px; border-radius:100px; background-color:#1351f9; color:#fff;}
.coupon-btn button.btn-disable{color:#fff !important;}

.charge-coin{display:table; width:100%; margin-bottom:25px;}
.charge-coin-l{display:table-cell;  vertical-align:middle; width:calc(100% - 72px); padding-right:15px;}
.charge-coin-l > p{font-size:13px;  line-height:1.38em; text-align:left;  color:#23212a;}
.charge-coin-l > p span{font-weight: 700;  color:#1351f9;}
.charge-coin-r{display:table-cell; vertical-align:middle; width:72px;}
.charge-coin-r button{width:72px; height:30px; border-radius:100px;  border:solid 1px #1351f9; font-size:13px; color:#23212a;}


/* 결제수단 선택 - 빠른결제 */

input[type=number] {
    -webkit-text-security: disc;
}
.quick-payment-wrap{
    position: relative;
    padding-bottom: 45px;
}
.method-quick{
    position: relative;
    margin-bottom: 5px;
    border: 1px solid #252525;
    border-radius: 4px;
}
.method-others{
    position: relative;
    border: 1px solid #252525;
    border-radius: 4px;
}
.method-quick-hd,
.method-others-hd{
    position: absolute;
    top: 16px;
    left: 15px;
    width: 22px;
    height: 22px;
}
.method-quick-hd{
    color: #fff;
    background-color: #1351f9
}
.method-others-hd{
    background-color: #fff
}
.method-quick label,
.method-others label{
    position: relative;
    display: block;
    width: 100%;
    padding: 16px 15px;
    background-color: #252525;
    font-size: 13px;
    line-height: 18px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    vertical-align: middle;
    color: #a5a5a5;
}
.method-quick label:before,
.method-others label:before{
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    margin-right: 7px;
    border-radius: 50%;
    background: url(../images/common/radio-off.png) no-repeat center;
    background-size: 22px;
}

.quick-js .method-quick input + label:before,
.others-js .method-others input + label:before{
    background: url(../images/common/radio-on.png) no-repeat center;
    background-size: 22px;
}

.quick-js .method-quick label,
.others-js .method-others label{
    color: #fff;
}
.method-others ul{
    /*display: none;*/
    margin: 0 auto;
    padding: 20px 20px 14px 20px;
}
.method-others ul:after{
    display: block;
    clear: both;
    content: '';
}

.method-others li{
    float: left;
    width: 49%;
    margin: 0 1% 1% 0;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
}
.method-others a{
    color: #a5a5a5;
    border: 1px solid #a5a5a5
}
.method-others a.method-selected,
.method-academy a.method-selected{
    border: 1px solid #1351f9;
    background-color: #1351f9;
}
.method-others li:nth-child(even){
    margin-right: 0;
}
.method-others li a{
    display: block;
    padding: 18px 0;
    font-size: 0;
}
.method-others-each{
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
}
.method-others-each + span{
    margin-left: 4px;
    font-size: 13px;
    color: #a5a5a5;
    vertical-align: middle;
}
.method-selected .method-others-each + span{
    color: #fff;
}
.method-credit{
    background: url(../images/ticket/icon-card.png) no-repeat;
    background-size: 18px 18px;
}
.method-phone{
    background: url(../images/ticket/icon-phone.png) no-repeat;
    background-size: 18px 18px;
}
.method-naver{
    width: 46px;
    background: url(../images/ticket/logo-naver-pay.png) no-repeat;
    background-size: 46px 18px;
}
.method-kakao{
    width: 48px;
    background: url(../images/ticket/logo-kakao-pay.png) no-repeat;
    background-size: 48px 18px;
}
.method-payco{
    width: 54px;
    background: url(../images/ticket/logo-payco.png) no-repeat;
    background-size: 54px 18px;
}
.method-paynow{
    width: 54px;
    background: url(../images/ticket/logo-paynow.png) no-repeat;
    background-size: 54px 18px;
}
.method-selected .method-credit{
    background: url(../images/ticket/icon-card-on.png) no-repeat;
    background-size: 18px 18px;
}
.method-selected .method-phone{
    background: url(../images/ticket/icon-phone-on.png) no-repeat;
    background-size: 18px 18px;
}
.method-selected .method-naver{
    background: url(../images/ticket/logo-naver-pay-on.png) no-repeat;
    background-size: 46px 18px;
}
.method-selected .method-kakao{
    background: url(../images/ticket/logo-kakao-pay-on.png) no-repeat;
    background-size: 48px 18px;
}
.method-selected .method-payco{
    background: url(../images/ticket/logo-payco-on.png) no-repeat;
    background-size: 54px 18px;
}
.method-selected .method-paynow{
    background: url(../images/ticket/logo-paynow-on.png) no-repeat;
    background-size: 54px 18px;
}

/* 아카데미 이용권 */
.method-academy{
    text-align: center;
}
.method-academy a{
    display: block;
    padding: 16px 0;
    font-size: 0;
    border: 1px solid #a5a5a5;
}

.academy-check{
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    min-height: 18px;
}

.method-others-academy li{
    padding: 18px 15px;
    border: 1px #2f2f2f solid;
}

/* SKT 이용권 */
.method-skt{
    border: 1px #2f2f2f solid;
}

.method-others-skt{
    width: 50%;
    margin: 20px auto;
    padding: 18px 15px;
    text-align: center;
    font-size: 0;
    background-color: #1351f9
}
.method-others-skt span{
    color: #fff;
}

/* 빠른결제 - 카드 swiper */
.swiper-container-payment{
    position: relative;
    overflow: hidden;
}
.swiper-container-payment .swiper-slide{
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-selected{
    display: block;
    width: 280px;
    height: 166px;
    margin: 0 auto 15px
}
.swiper-card {
    position: relative;
    display: block;
    height: 166px;
    background-size: 280px 166px;
    background-repeat: no-repeat
}
/*

[결제 카드 리스트]
card-default
card-bc
card-citi
card-hana
card-hanmi
card-hyundai
card-jb
card-jeju
card-kb
card-kj
card-lotte
card-nonghyup
card-samsung
card-shinhan
card-suhyup
card-woori
card-kakao

*/
.card-default {
    background-image: url(../images/ticket/card-default.png);
}
.card-bc {
    background-image: url(../images/ticket/card-bc.png);
}
.card-citi {
    background-image: url(../images/ticket/card-citi.png);
}
.card-hana {
    background-image: url(../images/ticket/card-hana.png);
}
.card-hanmi {
    background-image: url(../images/ticket/card-hanmi.png);
}
.card-hyundai {
    background-image: url(../images/ticket/card-hyundai.png);
}
.card-jb {
    background-image: url(../images/ticket/card-jb.png);
}
.card-jeju {
    background-image: url(../images/ticket/card-jeju.png);
}
.card-kb {
    background-image: url(../images/ticket/card-kb.png);
}
.card-kj {
    background-image: url(../images/ticket/card-kj.png);
}
.card-lotte {
    background-image: url(../images/ticket/card-lotte.png);
}
.card-nonghyup {
    background-image: url(../images/ticket/card-nonghyup.png);
}
.card-samsung {
    background-image: url(../images/ticket/card-samsung.png);
}
.card-shinhan {
    background-image: url(../images/ticket/card-shinhan.png);
}
.card-suhyup {
    background-image: url(../images/ticket/card-suhyup.png);
}
.card-woori {
    background-image: url(../images/ticket/card-woori.png);
}
.card-kakao {
    background-image: url(../images/ticket/card-kakao.png);
}

.swiper-slide-active .top-check{
    position: absolute;
    top: 15px;
    right: 15px;
    content: '';
    width: 22px;
    height: 22px;
    background: url(../images/ticket/btn-check-on.png);
}

.swiper-card-info{
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.swiper-card-name,
.swiper-card-num{
    display: block;
    font-size: 13px;
    line-height: 14px;
    color: #fff
}
.swiper-card-name{
    margin-bottom: 10px;
}

.swiper-text{
    display: block;
    max-width: 280px;
    margin: 0 auto 20px;
    font-size: 11px;
    line-height: 16px;
    color: #5e5e5e;
}
.swiper-text li{
    position: relative;
    margin-bottom: 5px;
    padding-left: 7px;
}
.swiper-text li::before{
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 1px;
    height: 1px;
    border: 1px #5e5e5e solid;
    border-radius: 50%;
    background-color: #5e5e5e;
}
.swiper-slide .card-update{
    margin: 0 auto;
}
.swiper-pagination-bullet{
    width: 7px;
    height: 7px;
    border: 1px solid #5e5e5e;
    background-color: #5e5e5e;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    border-color: #fff;
    background-color: #fff;
}

/* 상품구매 별칭, PIN 입력 페이지*/
.quick-payment-wrap .btn-wrap{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    border: 0;
}
.name-pin-box-wrap{
    padding: 0px 10px;

}
.name-pin-box{
    padding: 18px 15px;
}
.name-pin-box span{
    display: block;
}
.name-pin-box span:last-child input{
    margin-bottom: 0
}
.name-pin-box .popup-my-name label,
.name-pin-box .popup-my-pin label{
    font-size: 13px;
    line-height: 14px;
    color: #a5a5a5;
}
.name-pin-box .popup-my-name input,
.name-pin-box .popup-my-pin input{
    margin-top: 10px;
    margin-bottom: 18px;
    padding: 16px 15px;
    width:100%;
    height:45px;
    font-size:13px;
    line-height: 14px;
    border: 1px solid #2f2f2f;
    border-radius: 5px;
    background-color: #2f2f2f;
    color: #fff;
}
.name-pin-box .popup-my-pin input{
    margin-top: 16px;
}
.name-pin-box .popup-my-pin input::placeholder{
    color: #e5e5e5;
}

.name-pin-box .popup-my-name input[type="text"]:focus,
.name-pin-box .popup-my-pin input[type="text"]:focus{
    border: 1px #2f2f2f solid;
}

/* 결제 완료 -> PIN 입력 페이지*/
.pay-pin-box .password{
    text-align: center;
}
.pay-pin-box .pw-inputs{
    position: relative;
    display: inline-block;
    width: 46px;
    height: 46px;
    color: #fff;
    background-color: #ececec;
    border-radius: 4px;
    text-align: center;
}
.pay-pin-box .pw-each{
    position: relative;
    display: inline-block;
}
.pay-pin-box .pw-inputs::placeholder{
    color: #fff;
}
.pay-pin-box .pw-inputs:focus,
.pay-pin-box .pw-inputs:active{
    color: #fff;
    background-color: #1351f9
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input [type="tel"] {
         font-family: "text-security-disc";
         -webkit-text-security: disc;
     }
     input[type=number] {
   -webkit-text-security: disc;
}
.pay-pin-box .pw-inputs.on{
    background-color: #1351f9;
}
.pay-pin-box .icon-pw{
    background-color: #dedede;
    position: absolute;
    width: 46px;
    height: 46px;
    top: 0;
    left: 0
}
.pw-each{
    position: relative;
}
.pw-img{
    position: absolute;
    width: 46px;
    height: 46px;
    top: 0;
    left: 0;
    /*background: url(../images/ticket/img-pw-off.png) no-repeat;*/
    /*background-size: 46px 46px;*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: url(../images/ticket/input-w.png) center no-repeat;
    background-size: 7px;
    background-color: #2f2f2f;
}
.password .on .pw-img{
    /*background: url(../images/ticket/img-pw-on.png) no-repeat;*/
    /*background-size: 46px 46px;*/
    background-color: #1351f9;
}
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    margin: 0;
}
a.find-pin{
    display: block;
    margin-top: 30px;
    font-size: 13px;
    line-height: 14px;
    color: #a5a5a5;
    text-align: center;
    text-decoration: underline;
}
.pin-dsc {
    margin-top: 35px;
    font-size: 12px;
    color: #a5a5a5;
    text-align: center;   
    line-height: 18px;
}

.btn-wrap a.btn-quick-update{
    margin-top: 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
}

/* 빠른결제 카드 관리 - 카드 등록 페이지 */
.payment-text{
    padding: 40px 0;
    text-align: center;
}
.payment-text span{
    display: block;
    font-size: 13px;
    line-height: 18px;
    color: #a5a5a5;
}
.card-update-hd{
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 10px;
    color: #fff;
}
.card-update{
    display: block;
    width: 280px;
    margin: 0 auto 18px;
    padding-top: 67px;
    padding-bottom: 57px;
    font-size: 13px;
    line-height: 14px;
    color: #a5a5a5;
    text-align: center;
    border: 1px dashed #2f2f2f;
}

.card-update span:before{
    content: '';
    display: block;
    width: 29px;
    height: 29px;
    margin: -10px auto 8px;
    background:url(../images/ticket/card-plus.png) no-repeat;
    background-size: 29px;
}

/* 빠른결제 카드 관리 - 카드 관리 페이지 */
.card-list-wrap{
    padding: 10px 10px 0;

}
.card-list-box{
    display: block;
    padding: 15px 15px;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #252525;
}
.card-img,
.card-update-box{
    display: inline-block;
    vertical-align: middle;
}
.card-img {
    width: 116px;
    height: 68px;
    background-size: 116px 68px;
    background-repeat: no-repeat;
}

/*

[빠른결제 카드 관리 이미지 썸네일]
thum-default
thum-bc
thum-citi
thum-hana
thum-hanmi
thum-hyundai
thum-jb
thum-jeju
thum-kb
thum-kj
thum-lotte
thum-nonghyup
thum-samsung
thum-shinhan
thum-suhyup
thum-woori
thum-kakao

*/

.thum-default {
    background-image: url(../images/ticket/thum-default.png);
}
.thum-bc {
    background-image: url(../images/ticket/thum-bc.png);
}
.thum-citi {
    background-image: url(../images/ticket/thum-citi.png);
}
.thum-hana {
    background-image: url(../images/ticket/thum-hana.png);
}
.thum-hanmi {
    background-image: url(../images/ticket/thum-hanmi.png);
}
.thum-hyundai{
    background-image: url(../images/ticket/thum-hyundai.png);
}
.thum-jb {
    background-image: url(../images/ticket/thum-jb.png);
}
.thum-jeju {
    background-image: url(../images/ticket/thum-jeju.png);
}
.thum-kb {
    background-image: url(../images/ticket/thum-kb.png);
}
.thum-kj {
    background-image: url(../images/ticket/thum-kj.png);
}
.thum-lotte {
    background-image: url(../images/ticket/thum-lotte.png);
}
.thum-nonghyup {
    background-image: url(../images/ticket/thum-nonghyup.png);
}
.thum-samsung {
    background-image: url(../images/ticket/thum-samsung.png);
}
.thum-shinhan {
    background-image: url(../images/ticket/thum-shinhan.png);
}
.thum-suhyup {
    background-image: url(../images/ticket/thum-suhyup.png);
}
.thum-woori {
    background-image: url(../images/ticket/thum-woori.png);
}
.thum-kakao {
    background-image: url(../images/ticket/thum-kakao.png);
}

.card-update-box{
    margin-left: 11px;
}
.card-info-box{
    font-size: 0;
}
.card-info{
    font-size: 15px;
    line-height: 17px;
    color: #a5a5a5;
}
.card-info p{
    margin-bottom: 8px;
}
.card-update-delete,
.card-update-modify{
    display: inline-block;
    position: relative;
    font-size: 13px;
    line-height: 14px;
    color: #a5a5a5;
}
.card-update-delete{
    margin-right: 10px;
    padding-right: 10px;
}
.card-update-delete::after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 12px;
    background-color: #2f2f2f;
}
@media screen and (max-width: 360px){
    .card-info{
        font-size: 13px;
        line-height: 15px;
    }
    .card-update-delete,
    .card-update-modify{
        font-size: 12px;
        line-height: 12px;
    }
}

.card-plus{
    display: block;
    width: 100%;
    margin: 18px 0;
    padding: 27px 0;
    font-size: 13px;
    line-height: 14px;
    color: #a5a5a5;
    text-align: center;
    border: 1px dashed #2f2f2f;
}
.card-plus:before{
    content: '';
    display: block;
    vertical-align: middle;
    width: 29px;
    height: 29px;
    margin: 0 auto 8px;
    background:url(../images/ticket/card-plus.png) no-repeat;
    background-size: 29px;
}

/* Wavve x Bugs */
.join-layout{
    padding: 0 20px 20px;
}

.join-layout .logo-wrap{
    margin: 0 -20px;
    padding: 0 20px 40px;
    background-color: #1b1b1b;
}

.join-layout .logo-wrap .logo{
    margin: 0;
    padding: 40px 0 0 0;
}

.join-layout .logo-wrap .logo svg{
    display: block;
    margin: 0 auto;
}

.join-layout .partner-hd{
    padding: 20px 0 8px;
    font-size: 20px;
    line-height: 29px;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.join-layout .partner-explain{
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 20px;
    color: #a5a5a5;
    text-align: center;
}

.join-layout .logo-wrap .partner-explain{
    margin-bottom: 0;
}

.join-layout .partner-explain span{
    display: block;
}

.join-layout .form-wrap{
    margin: 0 -20px;
    padding: 20px 20px 70px;
}

.join-layout .form-wrap .join-agree-wrap{
    font-size: 0;
}

.join-layout .form-wrap .join-agree-wrap .input-wrap {
    margin-top: 0;
}

.join-layout .join-agree-wrap .input-wrap{
    position: relative;
    padding: 10px 0;
    margin: 0;
    font-size: 0;
}

.join-layout input[type='checkbox']{
    font-family: 'NotoSans', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
}

.join-layout .check-style input[type="checkbox"]{
    position: absolute;
    clip: rect(0,0,0,0);
}

.join-layout .check-style input[type="checkbox"] + label{
    position: relative;
    font-size: 13px;
    letter-spacing: -0.2px;
    color: #a5a5a5;
    font-family: 'NotoSans', sans-serif;
}

@media all and (max-width:360px){
    .check-style input[type="checkbox"] + label {
        font-size: 12px;
    }
}

.join-layout .check-style input[type="checkbox"] + label:before{
    content: ' ';
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 8px;
    background-color: transparent;
}

.join-layout .check-style input[type="checkbox"].check-purple + label:before{
    border: 1px solid #a5a5a5;
    vertical-align: middle;
}

.join-layout .check-style input[type="checkbox"].check-purple:checked + label:before{
    background: url(../images/common/check-on.png) #1351f9 no-repeat center;
    background-size: 22px;
    border: 1px #1351f9 solid;
}

.join-layout .join-agree-wrap label > span{
    font-size: 13px;
}

.join-layout .col-purple {
    color: #3887ff !important;
}

.join-layout .join-agree-wrap .input-wrap button{
    position: absolute;
    top: 50%;
    right: -12px;
    z-index: 1;
    width: 34px;
    height: 34px;
    margin-top: -17px;
    background: url(../images/common/arrow-open-gray.png) no-repeat center;
    background-size: 12px;
    font-size: 0;
    line-height: 0;
    text-indent: -999999px;
    overflow: hidden;
}

.join-layout .join-agree-wrap.join-agree-open .input-wrap button{
    background: url(../images/common/arrow-close-gray.png) no-repeat center;
    background-size: 12px;
}

.join-layout .ag-text{
    background-color: #2f2f2f;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*overflow-y: scroll;*/
    overflow-y: auto;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
}

.join-layout .join-agree-open.join-agree-wrap .ag-text{
    height: 141px;
    margin-top: 13px;
    margin-bottom: 10px;
}

.join-layout .form-wrap .join-agree-open.join-agree-wrap .ag-text{
    margin-top: 20px;
}

.join-layout .ag-text ul{
    padding: 12px;
}

.join-layout .form-wrap .ag-text li{
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    color: #a5a5a5;
}

.ag-text strong{
    font-weight: 400;
    color: #fff
}

.join-layout .join-btn-bt{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
}

.join-layout .btn-purple-fixed{
    display: block;
    width: 100%;
    height: 50px;
    background-color: #1351f9;
    color: #fff;
    font-family: 'NotoSans', sans-serif;
    font-size: 15px;
}

.join-layout .noti-dot-text{
    position: relative;
    margin-top: 20px;
    padding-left: 6px;
    font-size: 0;
    color: #717171;
    word-break: break-all;
}

.join-layout .form-wrap .noti-dot-text{
    margin-top: 0;
}

.join-layout .noti-dot-text:before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #717171;
}

.join-layout .noti-dot-text span{
    display: inline-block;
    width: calc(100% - 15px);
    font-size: 12px;
    line-height: 20px;
}

.policy_more {
    display: inline-block;
    margin-top: 2px;
    font-size: 12px;
    color: #a5a5a5;
    vertical-align: top;
}
.policy_more span,
.policy_more svg {
    display: inline-block;
    vertical-align: middle;
}

.dimmed{
    position:fixed;
    left:0;
    right:0;
    top:0;
    height:100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index:100;
}
.popup{
    position:absolute;
    top:94px;
    left:30px;
    right:30px;
    max-width:700px;
    height:480px;
    margin:0 auto;
    padding: 40px 20px;
    background-color:#252525;
    z-index:200;
}
.popup .title{
    display:block;
    color:#fff;
    font-size:20px;
    font-weight:normal;
    text-align:center;
    line-height:28px;
}
.popup .terms-box{
    position:relative;
    height:257px;
    margin-top:47px;
    font-size:12px;
    color:#a5a5a5;
    line-height:1.4
}
.popup .terms-box:after{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:20px;
    background-image:linear-gradient(to top, #252525, rgba(37, 37, 37, 0));
    content:'';
}
.popup .terms{
    overflow-y:auto;
    max-height:257px;
    padding-bottom:20px;
    word-break:break-all;
}
.popup .terms > strong{
    display:block;
    margin-top:16px;
}
.popup .terms > strong:first-child{
    margin:0;
}
.popup .terms table{
    margin-top:16px;
    width:100%;
    border: 1px solid #2f2f2f
}
.popup .terms table th{
    text-align:center
}
.popup .terms table th, 
.popup .terms table td{
    border: 1px solid #2f2f2f;
    padding: 4px
}
.popup .submit{
    width:100%;
    height:48px;
    margin-top:20px;
    border-radius:24px;
    background-color:#2f2f2f;
    font-size:16px;
    color:#fff;
    text-align:center;
    cursor:pointer;
    line-height:48px;
}
